* {
    font: 16px "Roboto Light";
}

a {
    color: black;
}

.main {
    font: 16px "Roboto Light";
}

h1 {
    font: 24px bold;
    text-align: center;
    padding: 30px;
}

input {
    height: 16px;
}

label {
    height: 16px;
}





/* profile & editProfile*/
.profileGrid {
    display: grid;
    grid-template-columns: 20% auto;
    grid-gap: 1px;
    background-color: black;
}

.profilePicture {
    border-radius: 50%;
}

.profileNav {
    grid-column: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.profileNav a, .profileNav img {
    margin: 10px;
}

.profileContent {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: white;
}

.entry {
    display: grid;
    grid-template-columns: 20% auto;
    padding: 20px 50px 20px 50px;
}

.attributes {
    grid-column: 1;
}

.values {
    grid-column: 2;
}

.accountSubmit {
    grid-row: 2;
    text-align: center;
}






/* events */
#item-list-view {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: calc(100vh - (72px));
    width: 100%;
    flex-flow: column;
}
#item-list {
    display: flex;
    flex-grow: initial;
    flex-wrap: wrap;
    column-fill: auto;
    flex-direction: column;
    overflow: auto;
}
#item {
    display: inline-flex;
    flex-wrap: wrap;
    padding: 5px 5px 5px 5px;
}

#item-image {
    border-radius: 8px;
    width: 40%;
}

#item-description {
    margin-left: 5%;
    background-color: lightgray;
    padding: 5px;
    border-radius: 8px;
    width: 50%;
    text-overflow: ellipsis;
    overflow: hidden;
}

#item-details {
    background-color: lightgray;
    border-radius: 8px;
}
