/* navigation list */


ul {
    list-style-type: none;
    background-color: gray;
}

li {
    float: left;
}

li form input{
    display: block;
    border: none;
    background-color: white;
    text-align: center;
}




/* profile picture */
.profilPicture {
    border-radius: 50%;
}




/* dropdown profile */
.dropdown {
    overflow: hidden;
    float: right;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content form input {
    float: none;
    display: block;
    text-align: left;
}

.dropdown:hover .dropdown-content{
    display: block;
}