/*for all element divs in navigation bar*/
#header {
    flex-wrap: wrap;
    display: flex;
    align-content: center;
}

/*all input elements in navigation bar*/
#navbar-button {
    background-color: transparent;
    height: 50px;
    width: 150px;
    border: transparent;
    cursor: pointer;
    /*font: bold 18px sans-serif;*/
    color: white;
    font-size: large;
    font-weight: bold;
}
#navbar-button:hover {
    border-bottom: 2px solid gray;
}

/*all elements (div) in navigation bar*/
#nav-bar {
    display: inline-flex;
    width: 94%;
    justify-content: space-evenly;
    margin: 30px 3% 10px 3%;
    border: lightgrey dashed 2px;
    border-radius: 8px;
}

/*create button
#navbar-create-button {
    background-image: linear-gradient(to bottom, #0096fb ,var(--blue));
    border-radius: 30px;
    color: #e1e1e1;

    border: transparent;
    cursor: pointer;
    font: bold 18px sans-serif;
}*/

#navbar-create-button{
    /*background-image: linear-gradient(to right, var(--oceanblue) 0%, var(--darkblue)  51%, var(--oceanblue)  100%);*/
    --gradientDegree: 180deg;
    background-image: linear-gradient(var(--gradientDegree), var(--darkblue), var(--oceanblue));

    height: 40px;
    width: 150px;
    transition: 0.5s;
    /*background-size: 200% auto;*/
    color: var(--white);
    border-radius: 10px;
    border: transparent;
    cursor: pointer;
    font-size: large;
    font-weight: bold;
 }

#navbar-create-button:hover {
    /*background-position: right center; /* change the direction of the change here */
    text-decoration: none;
    font-size: larger;
}



.visible {
    display: block !important;
}

.hidden {
    display: none !important;
}

.dropdown {
    overflow: hidden;
}

#dropdown-header {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 40% 60%;
}


#dropdown-content {
    display: none;
    position: absolute;
    background-color: transparent;
    backdrop-filter: blur(20px);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    transform: translate(-100px, 60px);
}

#dropdown-content form input {
    text-align: left;
}

.dropdown:hover #dropdown-content{
    display: block;
}