#header {
    flex-wrap: wrap;
    display: flex;
    align-content: center;
}

#navbar-button {
    background-color: transparent;
    height: 50px;
    width: 150px;
    border: transparent;
    cursor: pointer;
    font: bold 18px sans-serif;
}
#navbar-button:hover {
    border-bottom: 2px solid gray;
}
#nav-bar {
    display: inline-flex;
    width: 94%;
    justify-content: space-evenly;
    margin: 30px 3% 10px 3%;
    border: lightgrey dashed 2px;
    border-radius: 8px;
}

#navbar-create-button {
    /*background-image: linear-gradient(160deg, #008DFF, #00FF61);*/
    background-image: linear-gradient(160deg, rgba(0, 141, 255, 0.95), rgba(0, 255, 97, 0.75));
    border-radius: 8px;
    padding: 20px 30px;
    margin: 10px;
    border: transparent;
    outline: none;
    font: bold 18px Tahoma, sans-serif;
    color: #e1e1e1;
}
