/*for login*/

/*all login elements*/
.login {
    grid-area: 2 / 2;
    justify-self: center;
    grid-template-columns: minmax(220px, auto);

    display: flex;
    flex-direction: column;
    place-items: center;
    width: auto;
    background-image: linear-gradient(to bottom, #e6feff, #e1feff, #dbfeff, #d6feff, #d0feff);
    box-shadow: 5px 5px 5px lightgrey;
    border-radius: 4px;
}

/*Login Label*/
#Hlogin {
    display: grid;
    padding: 20px 10px 20px 10px;
    font-family: Tahoma, sans-serif;
    font-weight: bolder;
    font-size: 20px;
}

/*login button*/
#loginSubmit {
    color: white;
    text-shadow: black;
    font-family: Tahoma, sans-serif;
    border-radius: 4px;
    height: 30px;
    padding-left: 5px;
    width: 180px;
    background-image: linear-gradient(to right bottom, #1ecf25, #22d939, #26e24a, #29ec5b, #2df66a);
    margin-top: 10px;
    margin-bottom: 20px;
    box-sizing: content-box;
}