/* ------------------------------------------------------------------------------------------------------------------ */
/*                                                  for closeToMe page                                                */
/* ------------------------------------------------------------------------------------------------------------------ */


/* main grid in closeToMe */
.closeToMe-Grid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: max-content auto auto;
    padding: 30px;
}
.closeToMe-Filter {
    grid-row: 1;
    display: grid;
    grid-template-columns: 50% 20% 30%;
    grid-template-rows: auto;
    align-content: center;
}
.closeToMe-Filter > label {
    margin: auto;
}
.closeToMe-Search {
    grid-column: 1;
    height: 30px;
    font-size: large;
    border-radius: 25px;
    margin-right: 30px;
    padding-left: 10px;
    outline: none;
}
.closeToMe-Radius-Box {
    grid-column: 3;
    font-size: larger;
    display: grid;
    width: 100%;
    grid-template-columns: max-content max-content;
    gap: 10px;
}
input[type="text"] {
    background-color: unset !important;
    border-radius: unset !important;
    position: unset !important;
    border: unset !important;
    border: unset !important;
    outline: unset !important;
}
#map, strong {
    color: black !important;
}
#map {
    width: 95%;
    margin: auto;
    height: 500px;
}
.my-label {
    position: absolute;
    width:1000px;
    font-size:20px;
}


@media screen and (max-width: 500px) {
    .closeToMe-Filter {
        grid-template-columns: 100%;
        place-items: center;
        margin-bottom: 0px;
    }
    .closeToMe-Search {
        margin: 10px;
        width: 100%;
    }
    .closeToMe-Radius-Box {
        grid-column: 1;
        padding-left: 5px;
    }
    .closeToMe-Filter > label {
        margin-top: 5px;
    }
}

