/* ---------------------  select Image Box ----------------- */

#select_image_grid {
    display: none;
    grid-template-columns: 10vw 80vw 10vw;
    grid-template-rows: 2vh 96vh 2vh;
    position: fixed;
    z-index: 1;
}



/* formatting for flickr box in center */
#select_image_box {
    grid-column: 2;
    display: grid;
    grid-template-rows: min-content auto 200px min-content;
    background-color: white;
    border: 1px solid black;
}
#select_image_box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#select_image_box label, #image_preview {
    display: flex;
    justify-content: center;
    align-items: center;
}
#select_image_box > div, #select_image_box > form {
    margin: 10px 20px 10px 20px;
}
#flickr_search {
    display: grid;
    grid-template-columns: auto 100px;
    gap: 20px;
    height: 30px;
}
#flickr_search > input, #flickr_search label, #image_buttons label  {
    background-color: var(--bluegrey);
    padding-left: 10px;
    border-radius: 4px;
    position: relative;
    color: var(--white);
    border: transparent;
    outline: none;
    height: 30px;
}





/* styling for search result in flickr */
#flickr_images {
    border: 1px solid var(--black2);
    gap: 10px;
    padding: 10px;
    overflow: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}
#flickr_images div {
    display: grid;
    height: 300px;
    gap: 10px;
}
.flickr_row_even {
    grid-template-columns: 3fr 2fr 3fr;
}
.flickr_row_odd {
    grid-template-columns: 2fr 3fr 2fr;
}
#flickr_images img {
    height: 300px;
}


/* styling for image preview box */
#image_preview {
    border: 2px dashed var(--black2);
    padding: 2px;
    color: black;
}
#image_preview img {
    object-fit: contain;
}


/* styling for buttons at the buttom */
#image_buttons, #image_buttons form {
    display: flex;
    justify-content: end;
    gap: 20px;
    height: 30px;
}
#image_submit {
    margin-left: auto;
}
#image_submit label {
    width: 100px;
}
#select_own {
    width: 180px;
}
#submit_own {
    width: 100px;
}
