footer {
    justify-content: center;
    margin-top: 150px;
    margin-bottom: 50px;
}

.column {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

footer a {
    color: var(--grey);
    text-decoration: none;
}

@media screen and (max-width: 400px) {

    footer {
        justify-content: center;
    }

    .column {
        flex-direction: column;
        gap: 15px;
    }
}
