* {
    font-family: Tahoma, sans-serif;
    color: white;

    /* defined colors */
    --white: white;
    --lighterbluegrey: #d8e6ff;
    --lighterblue: #a3e9ff;
    --lightblue: #66edf1;
    --green: #66ebba;
    --oceanblue: #00a9e0;
    --darkblue: #00284c;
    --darkerblue: #02101c;

    --bluegrey: #454d57;
    --grey: #959794;
    --browngrey: #45433e;
    --black2: #1c1f23;
    --black: #19171a;

    box-sizing: border-box;
}


.main {
    /*font: 16px "Roboto Light";*/
}

body {
    background: var(--black2);
    /*background-image: linear-gradient(to bottom, var(--darkblue), black);*/
    /*background-image: url("../images/background-img.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;*/
    margin: 0;
}

h1 {
    text-align: center;
    padding: 20px;
}

textarea {
    resize: none;
    height: 100px;
}


/* visibility classes */
.visible {
    display: grid !important;
}

.hidden {
    display: none !important;
}

/* visibility id's */
#visible {
    display: block;
}

#hidden {
    display: none !important;
}

.profile-Picture {
    border-radius: 50%;
    object-fit: cover;
    height: 60px;
    width: 60px;
    border: 1px white solid;
}
.text-line-pre {
    white-space: pre-line;
}
#error-message {
    text-align: center;
}





input[type=text], input[type=password], input[type=tel], input[type=email], textarea {
    background-color: var(--bluegrey);
    padding-left: 10px;
    border-radius: 4px;
    position: relative;
    color: var(--white);
    border: 1px grey solid;
    border: transparent;
    outline: none;
}

input[type=text], input[type=password], input[type=tel], input[type=email] {
    height: 30px;
}

input:-webkit-autofill {
    -webkit-text-fill-color: white;
    -webkit-font-feature-settings: unset;
    -webkit-box-shadow: 0 0 0px 1000px transparent inset;
    transition: background-color 5000s ease-in-out 0s;
}




/* formatting for hint field */
#hint {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 10vh;
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
}






/* formatting for entry sets (attribute and value) */
.entry {
    display: grid;
    margin: 10px 0 10px 0;
    align-items: center;
    width: 100%;
}
#input-entry {
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    gap: 5px;
}
#output-entry {
    grid-template-columns: 140px auto;
    grid-template-rows: auto;

}
#type-entry {
    grid-template-columns: auto auto;
    grid-template-rows: auto;
}
#type-entry > div{
    margin-right: auto;
}
#split {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}
#split input {
    width: 100%;
}



#success_message {
    color:green;

}








