* {
    font-family: Tahoma, sans-serif;
    color: white;

    /* defined colors */
    --white: white;
    --lighterbluegrey: #d8e6ff;
    --lighterblue: #a3e9ff;
    --lightblue: #66edf1;
    --green: #66ebba;
    --oceanblue: #00a9e0;
    --darkblue: #00284c;
    --darkerblue: #02101c;

    --bluegrey: #454d57;
    --grey: #959794;
    --browngrey: #45433e;
    --black2: #1c1f23;
    --black: #19171a;

    box-sizing: border-box;
}

.main {
    /*font: 16px "Roboto Light";*/
}

body {
    background: var(--black2);
    /*background-image: linear-gradient(to bottom, var(--darkblue), black);*/
    /*background-image: url("../images/background-img.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;*/
    margin: 0;
}

h1 {
    text-align: center;
    padding: 20px;
}

textarea {
    resize: none;
    height: 100px;
}
label:has(input[type=submit]) {
    display: flex;
    justify-content: center;
    align-items: center;
}




/* visibility classes */
.visible {
    display: grid !important;
}

.hidden {
    display: none !important;
}

/* visibility id's */
#visible {
    display: block;
}

#hidden {
    display: none !important;
}





/* formatting for images  */
#pictureSmall_image img {
    border-radius: 50%;
    object-fit: cover;
    border: 1px white solid;
}
#image {
    position: relative;

}
#image label {
    position: absolute;
    height: 30px;
    width: 30px;
    top: 1px;
    right: 1px;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.5);
}






/* formatting for input fields */
.text-line-pre {
    white-space: pre-line;
}
input[type=text], input[type=password], input[type=tel], input[type=email], input[type=date], input[type=time], textarea {
    background-color: var(--bluegrey);
    padding-left: 10px;
    border-radius: 4px;
    position: relative;
    color: var(--white);
    border: 1px grey solid;
    border: transparent;
    outline: none;
}
input[type=text], input[type=password], input[type=tel], input[type=email] {
    height: 30px;
}
input[type=submit], input[type=file] {
    display: none;
}


input:-webkit-autofill {
    -webkit-text-fill-color: white;
    -webkit-font-feature-settings: unset;
    -webkit-box-shadow: 0 0 0px 1000px transparent inset;
    transition: background-color 5000s ease-in-out 0s;
}





/* formatting for output fields */
#hint {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    width: 100%;
    height: 0;                          
    background-color: rgba(255, 255, 255, 0.3);
    color: black;
}
.hintVisible {
    height: min-content !important;
    padding: 20px 0 20px 0;
}
.hintVisible label, .hintVisible span {
    display: block !important;
}
#hint label, #hint span {
    display: none;
}
#hint_buttons {
    display: flex;
    margin-left: auto;
    padding-right: 20px;
    gap: 20px;
}
#hint_button {
    margin-left: auto;
    margin-right: 30px;
}
#hint_button label {
    align-self: flex-end;
    width: 30px;
    height: 30px;
    font-size: 20px;
}
#hint_button label:hover {
    border: 1px solid white;
    border-radius: 50%;
}
#error-message {
    text-align: center;
}

#success_message {
    color:green;

}





/* formatting for entry sets (attribute and value) */
.entry {
    display: grid;
    margin: 10px 0 10px 0;
    align-items: center;
    width: 100%;
}
#input-en   try {
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    gap: 5px;
}
#output-entry {
    grid-template-columns: 140px auto;
    grid-template-rows: auto;

}
#type-entry {
    grid-template-columns: auto auto;
    grid-template-rows: auto;
}
#type-entry > div{
    margin-right: auto;
}
#split {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}
#split input {
    width: 100%;
}





/* styling for the areas around the flickr box */
.col1 {
    grid-column: 1;
    grid-row: 1/span3;
}
.col3 {
    grid-column: 3;
    grid-row: 1/span3;
}
.row1 {
    grid-column: 2;
    grid-row: 1;
}
.row3 {
    grid-column: 2;
    grid-row: 3;
}
.col1 label, .col3 label, .row1 label, .row3 label {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: transparent;
}






