/* ------------------------------------------------------------------------------------------------------------------ */
/*                                                  for header                                                        */
/* ------------------------------------------------------------------------------------------------------------------ */
#desktop {
    display: block;
}

#mobile {
    display: none;
}



/* navigation bar */
header {
    display: grid;
    gap: 0;
    grid-template-rows: min-content min-content;
    grid-template-columns: auto;
    margin: 30px 3% 30px 3%;
    height: 55px;
    overflow: visible;
}                       

/* navigation bar header */
#navbar {
    grid-row: 1;
    display: inline-flex;
    justify-content: right;
    flex-wrap: nowrap;
    gap: 20px;
    border-radius: 8px;
}
.logo {
    margin-right: auto;
}
.dropdown {
    overflow: visible;
    height: 105%;
}
#navbar-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    height: 50px;
    width: 130px;
    border: transparent;
    cursor: pointer;
    /*font: bold 18px sans-serif;*/
    color: white;
    font-size: large;
    font-weight: bold;
}
#navbar-button:hover {
    border-bottom: 2px solid gray;
}
#navbar-button input {
    display: none;
}
.create {
    padding-left: 30px;
    padding-right: 30px;
}
.create label {
    /*background-image: linear-gradient(to right, var(--oceanblue) 0%, var(--darkblue)  51%, var(--oceanblue)  100%);*/
    --gradientDegree: 180deg;
    background-image: linear-gradient(var(--gradientDegree), var(--darkblue), var(--oceanblue));

    /*background-size: 200% auto;*/
    color: var(--white);
    border-radius: 10px;
    cursor: pointer;
}
.create:hover {
    /*background-position: right center; /* change the direction of the change here */
    text-decoration: none;
    font-size: larger;
}
.dropdownGeneral:hover{
    rotate: 90deg;
    transition: rotate 0.5s;
}
.dropdownProfile {
    display: grid;
    grid-template-columns: auto auto;
}
.dropdownProfile img {
    height: 50px;
    width: 50px;
}
#navbar-Profile {
    display: grid;
    grid-template-rows: auto auto;
    padding-right: 10px;
    padding-left: 10px;
    height: 60px;
    font-size: 12px;
}
#name {
    margin-top: auto;
    margin-bottom: 2px;
    font-size: 14px;
    font-weight: bold;
}
#type {
    margin-top: 2px;
    margin-bottom: auto;
    text-align: center;
}



/* navigation bar dropdown content */
.Header-Content {
    grid-row: 2;
    display: none;
    text-align: center;
    backdrop-filter: blur(20px);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transition: 2s;
}
#content-general label, #content-profile label {
    width: 100%;
}
#navbar:has(.dropdownProfile:hover) ~ #content-profile, #content-profile:hover {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
}
#navbar:has(.dropdownGeneral:hover) ~ #content-general, #content-general:hover{
    display: flex;
    flex-direction: column;
    justify-content: center;
}






/* ----------------- formatting for smartphone resolution ----------------- */
@media screen and (max-width: 766px) {
    #desktop {
        display: none;
    }
    #mobile {
        display: block;
    }
    nav {
        height: min-content;
        overflow: visible;
    }
    #navbar {
        gap: 10px;
        justify-content: right;
    }
    #navbar-create-button {
        margin-left: 0;
        margin-right: 0px;
    }
    #content-profile label, #content-general label {
        font-size: 24px;
        height: 80px;
    }
    .dropdownProfile {
        display: grid !important;
        grid-template-columns: auto auto;
    }
    .login {
        display: none !important;
    }
    #navbar-Profile {
        display: grid;
        grid-template-rows: auto auto;
        padding-right: 10px;
    }
    nav img {
        height: 40px;
        width: auto;
    }
    nav .profile-Picture {
        height: 40px;
        width: 40px;
    }

    #navbar:has(.dropdownProfile:hover) ~ #content-profile, #content-profile:hover {
        width: 100%;
    }
    .create {
        display: none !important;
    }
}


/* ----------------- formatting for Tablet resolution ----------------- */
@media screen and (min-width: 766px) and (max-width: 1200px){
    #navbar {
        gap: 10px;

    }
    .create {
        padding-left: 0;
        padding-right: 0;
    }
    #navbar-button {
        width: 110px;
    }
}

