/* ------------------------------------------------------------------------------------------------------------------ */
/*                                                  for index (homepage)                                              */
/* ------------------------------------------------------------------------------------------------------------------ */


/*all elements in section*/
#about-area {
    display: flex;
    flex-direction: row;
    place-items: center;
    padding-top: 20%;
    padding-bottom: 20%;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 20px;
    /*background-image: linear-gradient(to right bottom, #2c82ee, #0093f2, #00a2f2, #00afef, #21bceb);
    */
    /*background-image: url("../images/background-img.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;*/
    border-radius: 20px;
}
@media only screen and (max-width: 850px) {
    #about-area{
        padding-top: 0%;
        flex-direction: column;
    }

    #about-logo-img {
        height: 70%;
    }
}

/*div of logo-image*/
#about-picture {
    display: grid;
    place-items: center;
    margin: 5%;
}

/*logo-image*/
#about-logo-img {
    place-self: center;
    max-width: 100%;
}
/*all the content next to the logo*/
#about-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    place-self: center;
    gap: 20px;
    font-family: Tahoma, sans-serif;
    color: white;
}

/*Welcome header*/
#welcome-head {
    font-family: Tahoma, sans-serif;
    font-weight: bolder;
    padding: 0;
    margin: 0;
    font-size: 40px;
}

/*About Text*/
p {
    font-family: Tahoma, sans-serif;
    font-size: x-large;
    margin: 0;
    line-height: 1.5;
}


