



/*for login*/
.login-view {
    display: grid;
    justify-content: center;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-columns: 1fr 2fr 1fr;

}

/*all login elements*/
.login-container {
    grid-area: 2 / 2;
    justify-self: center;
    display: flex;
    flex-direction: column;
    place-items: center;
    width: 250px;
    /*height: 230px;*/
    height: auto;
    border-radius: 4px;
    border: 2px solid var(--bluegrey);
}

/*Login Label*/
#Hlogin {
    display: grid;
    padding: 20px 10px 20px 10px;
    font-family: Tahoma, sans-serif;
    font-weight: bolder;
    font-size: 20px;
    color: var(--white);
}

/*for all input objects*/
input {
    border: transparent;
    outline: none;
}

/*email and password input for login and register*/
input[type=email], input[type=password], input[type=text], input[type=submit] {
    background-color: var(--bluegrey);
    padding-left: 10px;
    margin: 10px 20px 10px 20px;
    height: 30px;
    border-radius: 4px;
    position: relative;
    color: var(--white);
}

input::placeholder{
    color: var(--grey);
}

/*div of stay loggedin*/
.staylogin {
    place-self: start;
    margin-bottom: 20px;
}

/*label of stay loggin*/
.staylogin-container {
    display: grid;
    grid-template-columns: 20px auto;
    position: relative;
    padding-left: 40px;
}

#stayLogin-Text {
    grid-column: 2;
    color: var(--white);
    font-size: small;
}

/* old checkbox */
#stayLogin-checkbox {
    appearance: none;
}

/* new checkbox*/
#stayLogin-checkmark {
    grid-column: 1;
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: var(--bluegrey);
}

#stayLogin-checkmark:after {
    grid-column: 1;
    position: absolute;
    display: none;
}

/* checked box: change color*/
.staylogin-container:has(#stayLogin-checkbox:checked) #stayLogin-checkmark {
    background-color: var(--grey);
}

.staylogin-container:has(#stayLogin-checkbox:checked) #stayLogin-checkmark:after{
    display: block;
}
/*
.staylogin-container #stayLogin-checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}*/


/*login button*/
#loginSubmit {
    color: white;
    text-shadow: black;
    font-family: Tahoma, sans-serif;
    border-radius: 4px;
    height: 30px;
    padding-left: 5px;
    width: 180px;
    background-image: linear-gradient(to right bottom, #1ecf25, #22d939, #26e24a, #29ec5b, #2df66a);
    margin-top: 10px;
    margin-bottom: 15px;
    box-sizing: content-box;
}





/*for register*/

/*all register elements*/
.register {
    grid-area: 2 / 2;
    justify-self: center;
    place-items: center;

    display: flex;
    flex-direction: column;
    column-gap: 1%;
    width: auto;
    height: auto;
    background-image: linear-gradient(to bottom, #e6feff, #e1feff, #dbfeff, #d6feff, #d0feff);
    border-radius: 4px;
}

/*Register title*/
#Hregister {
    font-family: Tahoma, sans-serif;
    font-weight: bolder;
    font-size: 20px;
    color: black;
    margin: 10px 10px;
}

/* every single element in register */
.registerElement {
    display: flex;
    flex-direction: column;
    margin: 5px;
}


/*register submit button*/
#registerSubmit {
    display: grid;
    place-items: center;
    color: white;
    text-shadow: black;
    font-family: Tahoma, sans-serif;
    border-radius: 4px;
    height: 30px;
    padding-left: 5px;
    width: 180px;
    background-image: linear-gradient(to right bottom, #2c82ee, #0093f2, #00a2f2, #00afef, #21bceb);
    margin-top: 10px;
    margin-bottom: 15px;
    box-sizing: content-box;
}

@media screen and (max-width: 800px) {
   .login-view {

   }
}