/* ------------------------------------------------------------------------------------------------------------------ */
/*                                               for desktop resolution                                               */
/* ------------------------------------------------------------------------------------------------------------------ */

/* ------------------------ Image on top ------------------- */
.profile-Picture-Large, .profile-Picture-Large-Box {
    height: 400px;
    width: 100%;
    object-fit: cover;
}
.profile-Picture-Large-Box div {
    display: none;
}
.profile-Picture-Large-Box:hover > #image-Select, #image-Select:hover {
    display: block;
    position: relative;
    left: 93%;
    top: -40px;
    color: black;
    z-index: 1;
}
.profile-Picture-Large-Box input[type=submit] {
    color: black;
}



/* ------------------- profile navigation bar -------------- */
.profile-Navigation {
    height: 100px;
    width: 70%;
}
.profile-Navigation > div {
    display: grid;
    grid-template-columns: min-content auto;
    gap: 50px;
    position: relative;
    top: -40px;
    width: 70%;
    padding: 0 0 10px 50px;
    overflow: visible;
}
.profile-Navigation form input {
    background-color: transparent;
    border: transparent;
    cursor: pointer;
    /*font: bold 18px sans-serif;*/
    color: white;
    font-weight: bold;
    font-size: 16px;
}
.profile-Picture-Box {
    grid-column: 1;
    border-radius: 50%;
    margin: auto;
    place-items: center;
    width: 120px;
    height: 120px;
}
.profile-Picture-Box img {                                              
    width: 120px;
    height: 120px;
}
#edit:hover > img {
    filter: blur(5px);
    position: absolute;

}
.profile-Picture-Box:hover > #profile-Picture-Link {
    display: grid;
    text-align: center;
    grid-auto-columns: auto auto;
    position: relative;
    gap: 10px;
    top: 50px;
}
#profile-Picture-Link {
    color: white;
    display: none;
}
.profile-Links {
    grid-column: 2;
    display: flex;
    align-items: center;
    gap: 20px;
    padding-top: 50px;
}




/* ------- styling for profile-Grid (the main grid) -------- */
.profile-Grid {
    display: grid;
    grid-template-columns: auto 400px;
    grid-template-rows: auto;
    gap: 0.5vw;
    margin: 0.5vw;
}
.profile-Grid h2 {
    text-align: center;
}
#uploaded-Images, #about-me, #contact-Information, #password-Data {
    background-color: rgba(255, 255, 255, 0.05);
    border: var(--black) 1px solid;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: min-content;
}

/* formatting for the Information box on the left */
.profile-Content {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    gap: 0.5vw;
    height: min-content;
}
#password-Data {
    grid-row: 1 / span 2;
    padding: 20px 5vw 20px 5vw;
    width: 50vw;
    margin: auto;
}
#contact-Information {
    grid-row: 1;
    padding: 20px 5vw 20px 5vw;
}
#about-me {
    grid-row: 2;
    padding: 20px 5vw 20px 5vw;
}
input[type=file] {
    display: none;
}
#profile-Submit {
    width: 400px;
    margin: 20px auto 20px auto;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}
#profile-Submit label {
    background-color: white;
    width: 150px;
    height: 30px;
    border: 1px black solid;
    border-radius: 5px;
    color: black;
    font-size: 14px;
    display: flex;
    place-items: center;
    justify-content: center;
}
input[type=submit] {
    display: none;
}



/* --- formatting for the image upload box on the right ---- */
#uploaded-Images {
    grid-column: 2;
    gap: 10px;
    width: 100%;
    padding: 20px;
}
#uploaded-Images img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.newImage-Link {
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    place-items: center;
    height: 30px;
    border: 1px black solid;
    border-radius: 5px;
}
.newImage-Link label, .newImage-Link input {
    background-color: white;
    border: none;
    color: black;
    font-size: 14px;
}
#profile-navbar-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: transparent;
    cursor: pointer;
    font: bold 18px sans-serif;
    color: white;
    font-size: large;
    width: max-content;
}
#profile-navbar-button:hover {
    border-bottom: 2px solid gray;
}
#profile-navbar-button input {
    display: none;
}
#imageGallery {
    position: relative;
}
.imageGalleryEdit label {
    height: 30px;
    width: 30px;
    position: absolute;
    top: 1px; 
    right: 1px;
    border: 1px solid white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imageGalleryEdit input {
    display: none;
}




/* ---- styling for changePassword-Grid (the main grid) ---- */
#change-Password-Content {
    gap: 0.5vw;
    margin-left: 20px;
    margin-right: 20px;
}






/* ------------------------------------------------------------------------------------------------------------------ */
/*                                           formatting for bigger resolution                                         */
/* ------------------------------------------------------------------------------------------------------------------ */

@media screen and (min-width: 1800px) {
    .profile-Grid {
        width: 1780px;
        margin-left: auto;
        margin-right: auto;
    }

    .profile-Navigation {
        width: 1780px;
        margin-left: auto;
        margin-right: auto;
    }
}





/* ------------------------------------------------------------------------------------------------------------------ */
/*                                                 for Tablet resolution                                              */
/* ------------------------------------------------------------------------------------------------------------------ */

@media screen and (min-width: 766px) and (max-width: 1200px) {
    .profile-Grid {
        grid-template-columns: auto 300px;
    }
}





/* ------------------------------------------------------------------------------------------------------------------ */
/*                                               for Smartphone resolution                                            */
/* ------------------------------------------------------------------------------------------------------------------ */

@media screen and (max-width: 766px) {
    .profile-Picture-Large {
        height: 200px;
    }
    .profile-Grid {
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto;
    }
    .profile-Grid div {
        padding: 10px;
    }
    .profile-Navigation {
        height: 400px;
        width: 100%;
    }
    .profile-Navigation > div{
        grid-template-columns: auto;
        grid-template-rows: max-content auto;
        align-items: center;
        padding: 0;
        width: 100%;
        top: -40px;
    }
    .profile-Links {
        grid-row: 2;
        grid-column: 1;
        flex-direction: column;
        padding: 0;
    }
    .profile-Links input {
        font-size: 16px;
        text-align: center;
    }
    .profile-Content {
        margin-bottom: 30px;
    }
    .entry {
        grid-template-columns: 140px auto;
    }
    #uploaded-Images {
        grid-row: 3;
        grid-column: 1;
        width: 100%;
        height: 100%;
        overflow: hidden;
        display: inline-block;
    }
    #profile-Submit {
        grid-row: 4;
    }
    #change-Password-Content {
        margin-bottom: 30px;
        margin-left: 0;
        margin-right: 0;
    }
    #password-Data {
        width: 100vw;
    }
}

