/* ------------------------------------------------------------------------------------------------------------------ */
/*                                                  for profile pages                                                 */
/* ------------------------------------------------------------------------------------------------------------------ */

/* ------------------------ Image on top ------------------------ */
.profile-Picture-Large-Box {
    height: 370px;
    width: 100%;
    background:transparent;
}
.profile-Picture-Large {
    height: 400px;
    width: 100%;
    object-fit: cover;
    background: transparent;
    background: linear-gradient(top, rgba( 255, 255, 255, 255 ) 0%, rgba( 255, 255, 255, 1 ) 100% );
}
.profile-Picture-Large-Box div {
    display: none;
}
.profile-Picture-Large-Box:hover > div{
    display: block;
    position: absolute;
    right: 16px;
    top: 480px;
}






/* ------------------------ profile navigation bar ------------------------ */
.profile-Navigation {
    display: grid;
    grid-template-columns: min-content auto;
    gap: 50px;
    padding: 0 0 10px 50px;
    overflow: visible;
}
.profile-Navigation form input {
    background-color: transparent;
    border: transparent;
    cursor: pointer;
    /*font: bold 18px sans-serif;*/
    color: white;
    font-weight: bold;
    font-size: 16px;
}
.profile-Picture-Box {
    grid-column: 1;
    border-radius: 50%;
    margin: auto;
    place-items: center;
    width: 120px;
    height: 120px;
}
.profile-Picture-Box img {
    border: 1px white solid;
}
.profile-Picture-Box:hover > #editProfilePicture {
    filter: blur(5px);
    position: absolute;

}
.profile-Picture-Box:hover > #profile-Picture-Link {
    display: grid;
    grid-template-rows: auto auto;
    text-align: center;
    position: relative;
    gap: 10px;
    top: 40px;
}
#profile-Picture-Link {
    color: white;
    display: none;
}
.profile-Links {
    grid-column: 2;
    display: flex;
    align-items: center;
    gap: 20px;
    padding-top: 50px;
}


/* ------------------------ styling for profile-Grid (the main grid) ------------------------ */
.profile-Grid {
    display: grid;
    grid-template-columns: auto 400px;
    grid-template-rows: auto;
    gap: 0.5vw;
    margin: 0.5vw;
}
.profile-Content > div, #uploaded-Images, #loginData {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.05);
    border: var(--black) 1px solid;
}
.profile-Grid h2 {
    text-align: center;
}
#uploaded-Images, #about-me, #contact-Information, #loginData {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: min-content;
}


/* formatting for the Information box on the left */
.profile-Content {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    gap: 0.5vw;
}
#loginData {
    grid-row: 1 / span 2;
}
#contact-Information {
    grid-row: 1;
}
#about-me {
    grid-row: 2;
}
#profile-Content-Change-Password {
    gap: 60px;
}
.entry {
    display: grid;
    grid-template-columns: 160px auto;
    grid-template-rows: auto;
    width: 100%;
    margin: 10px 0 10px 0;
}
.entry input, .entry textarea{
    border: 0;
    background: transparent;
    color: white;
    border: 1px rgba(255, 255, 255, 0.1) solid;
    padding: 5px;
    border-radius: 5px;
}
input:-webkit-autofill {
    -webkit-text-fill-color: white;
    -webkit-font-feature-settings: unset;
    -webkit-box-shadow: 0 0 0px 1000px transparent inset;
    transition: background-color 5000s ease-in-out 0s;
}
input[type=file] {
    display: none;
}
#profile-Submit {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}



/* formatting for the image upload box on the right */
#uploaded-Images {
    grid-column: 2;
    gap: 10px;
    width: 100%;
}
#uploaded-Images img {
    width: 100%;
    height: auto;
}
.newImage-Link {
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    place-items: center;
    height: 30px;
}
.newImage-Link label, .newImage-Link input {
    background-color: transparent;
    border: 0;
    color: black;

}














/* ----------------- formatting for bigger resolution ----------------- */
@media screen and (min-width: 766px) and (max-width: 1200px) {
    .profile-Grid {
        grid-template-columns: auto 300px;
    }
}


/* ----------------- formatting for smartphone resolution ----------------- */
@media screen and (max-width: 766px) {
    .profile-Picture-Large, .profile-Picture-Large-Box {
        height: 200px;
    }
    .profile-Picture-Large-Box:hover > div{
        top: 270px;
    }
    .profile-Grid {
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto;
    }
    .profile-Grid div {
        padding: 10px;
    }
    .entry input {
        height: min-content;
    }
    .profile-Navigation {
        grid-template-columns: auto;
        grid-template-rows: max-content auto;
        align-items: center;
        background-color: var(--black2);
        margin: 10% 30% 10% 30%;
        padding: 0;
    }
    .profile-Links {
        grid-row: 2;
        grid-column: 1;
        flex-direction: column;
        padding: 0;
    }
    .profile-Links input {
        font-size: 16px;
        text-align: center;
    }
    .profile-Content {
        margin-bottom: 30px;
    }
    .entry {
        grid-template-columns: 140px auto;
    }
    #uploaded-Images {
        grid-row: 3;
        grid-column: 1;
    }
    #profile-Submit {
        grid-row: 4;
    }
}

/* ----------------- formatting for bigger resolution ----------------- */
@media screen and (min-width: 1800px) {
    .profile-Grid {
        width: 1780px;
        margin-left: auto;
        margin-right: auto;
    }

    .profile-Navigation {
        width: 1780px;
        margin-left: auto;
        margin-right: auto;
    }
}